.all-cart{
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #F1F2F4;
    border-top: 2px solid #F1F2F4;
    padding: 20px 0px;
}
#cart{
    display: grid;
    grid-template-columns: 50% auto 8%;
    align-items: center;
    padding: 20px 0px;
    border-bottom: 1px solid #F1F2F4;
}
.cart-data{
    display: flex;
    align-items: center;
}
#cart span{
    display: inline-block;
    padding: 20px 30px;
}
.cart-delete{
    display: flex;
    justify-content: flex-end;
}
.cart-delete button{
    font-size: 25px;
    color: red;
    border: none;
    background-color: white;
    cursor: pointer;
}
.go-checkout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
}
.go-checkout button{
    font-size: 14px;
    border: none;
    background-color: #1A4D2E;
    border-radius: 2px;
    color: white;
    cursor: pointer;
    margin: 10px;
}
.go-checkout label{
    display: block;
    padding: 10px 20px;
    color: white;
    background-color: #1A4D2E;
    border-radius: 2px;
}
.go-checkout button.checkout{
    padding: 10px 20px;
    border: none;
}
.go-checkout a{
    color: white;
    background-color: #1A4D2E;
    border-radius: 2px;
    display: block;
    padding: 10px 20px;
    margin: 10px 0px;
}
.empty-cart{
    text-align: center;
    padding: 10px 0px;
}
.indent-checkout-cart{
    padding: 20px 0px;
    text-align: center;
}
/* BACK  */
.back{
    display: flex;
    justify-content: center;
}
.back button{
    font-size: 14px;
    border: none;
    background-color: rgb(86, 86, 86);
    color: white;
    cursor: pointer;
    margin: 10px;
    border-radius: 2px;
}
.back a{
    color: white;
    display: block;
    padding: 10px 10px;
    border: none;
}
@media screen and (max-width: 768px) {
    .go-checkout a{
        display: block;
    }
    #cart span{
        padding: 10px 10px;
    }
}
@media screen and (max-width: 575px){
    .cart-data img{
        width: 80px;
    }
}
