.information-profile{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 10px 0px;
    padding: 10px 0px;
    gap: 10px;
}
.information-profile span{
    display: block;
}
.information-profile input{
    width: 100%;
    padding: 10px 20px;
    border: 1px solid gray;
    border-radius: 2px;
}
.information-pay a{
    display: block;
    padding: 10px 20px;
    color: white;
}
.information-pay button{
    background-color: #00ccff;
    border: none;
    border-radius: 2px;
    margin-bottom: 10px;
}
.auth{
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px 0px 20px 0px;
}
/* ---------- FRAME RESPONSIVE --------- */
@media screen and (max-width: 1080px){}
@media screen and (max-width: 900px){}
@media screen and (max-width: 768px){
    .information-profile{
        grid-template-columns: repeat(2,1fr);
    }
}
@media screen and (max-width: 667px){}
@media screen and (max-width: 575px){
    .information-profile{
        grid-template-columns: repeat(1,1fr);
    }
}
@media screen and (max-width: 480px){}
@media screen and (max-width: 414px){}
@media screen and (max-width: 360px){}
/* ---------- FRAME RESPONSIVE --------- */ 