#contact{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    padding: 20px 0px;
}
.in-name{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}
.form-contact{
    padding: 10px 0px;

}
.form-contact label{
    display: block;
    padding: 10px 0px 2px 0px;
}
.form-contact input,textarea,select{
    width: 100%;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 2px;
}
.form-contact input:focus,textarea:focus,select:focus{
    outline: none;
    border: 1px solid #00ccff;
    box-shadow: inset 0 0 2px #00ccff;
}
.form-contact textarea{
    height: 100px;
}
.on-sub-mail{
    text-align: center;
}
.form-contact button{
    width: 100%;
    padding: 15px 0px;
    margin: 15px 0px;
    background-color: #00ccff;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 2px;
}
.form-contact button:hover{
    transition: 0.2s ease-in;
    background-color: rgb(0, 186, 203);
}
.google-map{
    grid-column: 2/4;
}
.google-map iframe{
    width: 100%;
    height: 100%;
}
.more-contact{
    grid-column: 1/4;
    padding: 20px 0px;
    border-top: 1px solid #e4e6eb;
    border-bottom: 1px solid #e4e6eb;
    margin: 20px 0px;
}
.more-contact{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 10px;
}
.more-contact div{
    display: flex;
    justify-content: center;
}
.more-contact table tr td.img-contact{
    padding-right: 10px;
}
/* ---------- FRAME RESPONSIVE --------- */
@media screen and (max-width: 1080px){}
@media screen and (max-width: 900px){
    #contact{
        grid-template-columns: repeat(2,1fr);
    }
    .google-map{
        grid-column: 2/3;
    }
}
@media screen and (max-width: 768px){
}
@media screen and (max-width: 667px){
    .form-contact{
        grid-column: 1/4;
    }
    .google-map{
        grid-column: 1/4;
        grid-row: 3/4;
    }
    .more-contact{
        grid-template-columns: repeat(1,1fr);
    }
    .more-contact div{
        display: flex;
        justify-content: flex-start;
    }
}
@media screen and (max-width: 575px){
}
@media screen and (max-width: 480px){}
@media screen and (max-width: 360px){}
/* ---------- FRAME RESPONSIVE --------- */