*{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    font-size: 12px;
    justify-content: center;
    font-family: 'Rubik', sans-serif;
    background-color: black;
    background-image: url('../images/background-admin.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
img{
    width: 50px;
}
h1{
    text-align: center;
    color: rgb(255, 255, 255);
}
body > div {
    margin-top: 30px;
}
.admin-actions{
    display: flex;
    justify-content: space-between;
    background-color: #16161c;
    padding: 10px;
    margin-top: 30px;
}
.admin-actions a{
    color: white;
    text-decoration: none;
}
.admin-page{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    text-align: center;
    margin-top: 30px;
}
.admin-page a{
    display: block;
    padding: 10px 20px;
    background-color: black;
    color: white;
    border-radius: 3px;
    text-decoration: none;
}
table.view{
    border-color: black;
    background-color: white;
}
.viewproduct tr{
    display: grid;
    grid-template-columns: 3% repeat(10,1fr);
}
table.view tr{
    align-items: center;
}
table{
    width: 100%;
    border: 1px solid ;
    padding: 10px 0px;
    border-collapse: collapse;
}
.indent td{
    background-color: black;
    color: white;
    margin: 2px 2px;
    font-weight: bold;
}
td{
    padding: 5px 10px;
    text-align: center;
    overflow: hidden;
    text-wrap: wrap;
}
td.actions{
    display: grid;
    grid-template-columns: auto;
    gap: 3px;
}
.actions a button{
    width: 100%;
    padding: 5px 15px;
    border: none;
    font-size: 12px;
    color: white;
    cursor: pointer;
}
button:hover{
    opacity: 0.9;
}  
.addoredit td{
    color: white;
    text-align: left;
} 
.addoredit table{
    width: 600px;
    border: none;
    border-radius: 2px;
}
.addoredit table tr{
    display: grid;
    align-items: center;
    grid-template-columns: 30% 70%;
}

.addoredit input{
    text-indent: 10px;
    width: 100%;
    padding: 10px 0px;
    border: 1px solid gray;
    border-radius: 2px;
    background-color: white;
    color: black;
}
.addoredit button{
    margin: 5px 0px;
    padding: 10px 50px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 2px;
    font-weight: bold;
    font-family: calibri;
    cursor: pointer;
}
input:focus{
    outline: none;
}
select{
    width: 100%;
    background-color: white;
    height: 35px;
}
select:focus{
    outline: none;
}

.actions a button.edit{
    background-color: green;
    border-radius: 2px;
}
.actions a button.delete{
    background-color: red;
    border-radius: 2px;
}
td.radios {
    display: flex;
    gap: 10px;
}
td.radios input{
    width: 15px;
}


/* BUTTON FILLTER  */
form{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}
form button{
    background-color: black;
    border: none;
    color: white;
    border-radius: 2px;
    cursor: pointer;
    padding: 5px 10px;
}
/* BUTTON FILLTER  */
form.button-filter{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}
form.button-filter button{
    background-color: black;
    border: none;
    color: white;
    border-radius: 2px;
    cursor: pointer;
    padding: 5px 10px;
}
/* BUTTON FILLTER  */