@media screen and (max-width: 1080px){
    main .all-products{
        grid-template-columns: repeat(3,1fr);
    }
    .image-product {
        height: 280px;
    }
}
@media screen and (max-width: 768px) {
    body{
        font-size: 16px;
    }
    main{
        padding: 0px 20px;
    }
    .image-product {
        height: 260px;
    }
}
@media screen and (max-width: 667px){
    body{
        font-size: 14px;
    }
    main .all-products{
        grid-template-columns: repeat(2,1fr);
    }
    .image-product {
        height: 280px;
    }
}
@media screen and (max-width: 575px){}
@media screen and (max-width: 480px) {
    .image-product {
        height: 220px;
    }
}
@media screen and (max-width: 414px){
    .image-product {
        height: 200px;
    }
}
@media screen and (max-width: 360px){
    main .all-products{
        grid-template-columns: auto;
    }
    .image-product {
        height: 300px;
    }
}

/* ---------- FRAME RESPONSIVE --------- */
@media screen and (max-width: 1080px){}
@media screen and (max-width: 900px){}
@media screen and (max-width: 768px){}
@media screen and (max-width: 667px){}
@media screen and (max-width: 575px){}
@media screen and (max-width: 480px){}
@media screen and (max-width: 414px){}
@media screen and (max-width: 360px){}
/* ---------- FRAME RESPONSIVE --------- */
