/* ------------------------------- FOOTER --------------------------  */
footer{
    display: flex;
    justify-content: space-between;
    align-items: center ;
    padding: 30px 50px 30px 50px;
    border-top: 1px solid #e4e6eb;
    margin-top: 50px;
}
ul.nav-footer{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 20px;
}
li.copyright{
    display: flex;
    align-items: center;
    gap: 5px;
}
ul.nav-footer li a{
    color: #999999;
}
ul.nav-footer li a:hover{
    color: #23232c;
    transition: 0.2s;
}
.contact-app{
    display: flex;
    gap: 30px;
    align-items: center;
}
.contact-app a{
    position: relative;
    display: block;
    padding-bottom: 4px;
}
.contact-app a img{
    opacity: 0.4;
}
.contact-app a::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #999999;
    transition: width 0.4s;
}
.contact-app a:hover::before{
    width: 100%;
}
/* ------------------------------- FOOTER --------------------------  */
/* -------------------------- RESPONSIVE -----------------------  */
@media screen and (max-width: 1080px){}
@media screen and (max-width: 768px){
    footer{
        flex-direction: column;
        padding: 20px 20px 30px 20px;
        gap: 30px;
    }
}
@media screen and (max-width: 667px){}
@media screen and (max-width: 480px){
    footer .nav-footer{
        flex-direction: column;
    }
}
@media screen and (max-width: 360px){}
/* -------------------------- RESPONSIVE -----------------------  */
